.body_background {
    background-color: antiquewhite;
    background-position: center;
    background-size: cover;
}

h1 {
    color: rgb(33, 20, 20);
    font-size: 40px;
    background-color: rgb(225, 231, 151);
    width: 800px;
    border-radius: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#myCanvas {
    border: width 10px;
    background-color: white;
    border-style: ridge;
    border-radius: 10px;
}

span {
    font-size: 20px;
}

html {
    text-color: wight;
}

button {
    background-color: rgb(156, 218, 93);
    border-radius: 10px;
    border-width: 0px;
    height: 50px;
    width: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
}

button:hover {
    background-color: rgb(126, 220, 32);
    height: 60px;
    width: 320px;
}

.edits {
    padding-top: 50px;
    border-radius: 10px;
    background-color: aliceblue;
    width: 500px;
}